.button {
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.default {
  background-color: #E4E7F0;
  color: #2F4858;
}

.primary {
  background-color: cornflowerblue;
  color: white;
}

.danger {
  background-color: #c53c3c;
}
